<div class="container">
    <div class="boundary" *ngIf="!seg">
        <div class="row" style="padding-bottom: 50px;">
            <div class="col-lg-3 col-md-3 col-12">
                <div class="infor">
                    <div class="avar" style="padding: 40px;">
                        <img src="../../assets/images/img_avatar2.png" class="img-fluid" style=" max-width: 100%;height: auto;">
                    </div>
                    <div class="detail">
                        <span style="font-weight: 600;font-size: 18px;"  (click)="Direct()">Nguyễn Thành Lộc</span><br>
                        <span>1651060948</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="infor">
                    <div class="avar" style="padding: 40px;">
                        <img src="../../assets/images/img_avatar2.png" class="img-fluid" style=" max-width: 100%;height: auto;">
                    </div>
                    <div class="detail">
                        <span style="font-weight: 600;font-size: 18px;">Nguyễn Thành Lộc</span><br>
                        <span>1651060948</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="infor">
                    <div class="avar" style="padding: 40px;">
                        <img src="../../assets/images/img_avatar2.png" class="img-fluid" style=" max-width: 100%;height: auto;">
                    </div>
                    <div class="detail">
                        <span style="font-weight: 600;font-size: 18px;">Nguyễn Thành Lộc</span><br>
                        <span>1651060948</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="infor">
                    <div class="avar" style="padding: 40px;">
                        <img src="../../assets/images/img_avatar2.png" class="img-fluid" style=" max-width: 100%;height: auto;">
                    </div>
                    <div class="detail">
                        <span style="font-weight: 600;font-size: 18px;">Nguyễn Thành Lộc</span><br>
                        <span>1651060948</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="infor">
                    <div class="avar" style="padding: 40px;">
                        <img src="../../assets/images/img_avatar2.png" class="img-fluid" style=" max-width: 100%;height: auto;">
                    </div>
                    <div class="detail">
                        <span style="font-weight: 600;font-size: 18px;">Nguyễn Thành Lộc</span><br>
                        <span>1651060948</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="boundary1" *ngIf="seg">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12" style="padding: 40px;">
                <img src="../../assets/images/img_avatar2.png" class="img-fluid">
                <div style="margin-top: 20px;text-align: center;">
                <button class="btn"  style="    background-color: green; color: white;" (click)="Sua()">Chỉnh sửa sinh viên</button>
                </div>

            </div>
            <div class="col-lg-8 col-md-8 col-12" style="padding: 40px;">
                <span style="font-weight: 700; font-size: 22px;">Nguyễn Thành Lộc</span> -<span>1651060948</span>
                <div class="row chitiet">
                    <div class="col-lg-6 col-md-6 col-12">
                        <span style="font-weight: 500;">Lớp :</span> 58TH1
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <span style="font-weight: 500;">Tình trạng :</span> Đang học
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <span style="font-weight: 500;">Ngày Sinh :</span> 10-08-1998
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <span style="font-weight: 500;">Gioi tính :</span> nam
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <span style="font-weight: 500;">Số tín chỉ đã hoành thành :</span> 123
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <span style="font-weight: 500;">Lớp :</span> 58TH1
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
