<div class="container">
<div class="boundary1" >
    <div class="row">
        <div class="col-lg-4 col-md-4 col-12" style="padding: 40px;">
            <img src="../../assets/images/img_avatar2.png" class="img-fluid">
            <div style="margin-top: 20px;text-align: center;">
            <button class="btn"  style="    background-color: green; color: white;" >Lưu</button>

        </div>
        </div>
        <div class="col-lg-8 col-md-8 col-12" style="padding: 40px;">
            <span style="font-weight: 700; font-size: 22px;">Nguyễn Thành Lộc</span> -<span>1651060948</span>
            <div class="row chitiet">
                <div class="col-lg-6 col-md-6 col-12">
                    <span style="font-weight: 500;">Lớp :  </span>                      <input class="search-text" name="keysearch" type="text" 
                    style="width: calc(100% - 60px);height: 30px;" required  value="58TH1">
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <span style="font-weight: 500;">Tình trạng : </span> <input class="search-text" name="keysearch" type="text" 
                    style="width: calc(100% - 60px);height: 30px;" required  value="Đang học">
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <span style="font-weight: 500;">Ngày Sinh : </span> <input class="search-text" name="keysearch" type="text" 
                    style="width: calc(100% - 60px);height: 30px;" required  value="10-08-1998">
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <span style="font-weight: 500;">Gioi tính : </span> <input class="search-text" name="keysearch" type="text" 
                    style="width: calc(100% - 60px);height: 30px;" required  value="Nam">
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <span style="font-weight: 500;">Số tín chỉ đã hoành thành : </span> <input class="search-text" name="keysearch" type="text" 
                    style="width: calc(100% - 60px);height: 30px;" required  value="130 tín">
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <span style="font-weight: 500;">Lớp : </span> <input class="search-text" name="keysearch" type="text" 
                    style="width: calc(100% - 60px);height: 30px;" required  value="58TH1">
                </div>
</div>
</div>
    </div>
</div>
